<h2>Stock1 Details</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Index</th>
            <th scope="col">ID</th>
            <th scope="col">Stock Name</th>
            <th scope="col">Stock Market Cap</th>
            <th scope="col">Stock Market Sector</th>
            <th scope="col">Release Date</th>
            <th scope="col">Symbol</th>
            <th scope="col">Buy price</th>

        </tr>
    </thead>
    <tbody>
        <tr>

        </tr>
    </tbody>
</table>
