<h2>Stock2 Details</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Index</th>
            <th scope="col">ID</th>
            <th scope="col">Stock Name</th>
            <th scope="col">Stock Market Cap</th>
            <th scope="col">Stock Market Sector</th>
            <th scope="col">Release Date</th>
            <th scope="col">Symbol</th>
            <th scope="col">Buy price</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let  stockRecord of stock3Records;let i=index">
        <td>
            <p>{{i+1}}</p>
        </td>
        <td>
            <p>{{stockRecord.id}}</p>
        </td>
        <td>
            <p>{{stockRecord.stockName}}</p>
        </td>
        <td>
            <p>{{stockRecord.stockMarketCap}}</p>
        </td>
        <td>
            <p>{{stockRecord.stockMSector}}</p>
        </td>
        <td>
            <p>{{stockRecord.releaseDate}}</p>
        </td>
        <td>
            <p>{{stockRecord.symbol}}</p>
        </td>
        <td>
            <p>{{stockRecord.buyPrice}}</p>
        </td>
        </tr>

    </tbody>
</table>
